<form (ngSubmit)="onSubmit()">
  <table>
    <tr>
      <td>
        <mat-form-field
          appearance="outline"
          subscriptSizing="dynamic"
          class="example-full-width"
        >
          <mat-label>Initial Investment</mat-label>
          <input
            matInput
            type="number"
            name="intial-investment"
            [(ngModel)]="enteredIntialInvestment"
          />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field
          appearance="outline"
          subscriptSizing="dynamic"
          class="example-full-width"
        >
          <mat-label>Annual Investment</mat-label>
          <input
            matInput
            type="number"
            name="annual-investment"
            [(ngModel)]="enteredAnnualInvestment"
          />
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field
          appearance="outline"
          subscriptSizing="dynamic"
          class="example-full-width"
        >
          <mat-label>Expected Return</mat-label>
          <input
            matInput
            type="number"
            name="expected-return"
            [(ngModel)]="enteredExpectedReturn"
          />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field
          appearance="outline"
          subscriptSizing="dynamic"
          class="example-full-width"
        >
          <mat-label>Duration</mat-label>
          <input
            matInput
            type="number"
            name="duration"
            [(ngModel)]="enteredDuration"
          />
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <button mat-flat-button>Calculate</button>
      </td>
    </tr>
  </table>
</form>
